@model List<Doctor> 
<h1>INSERTAR DOCTOR</h1> <form method="post">
    <div class="mb-3">
        <label class="form-label">Cod hospital</label>
        <input class="form-control" name="hospitalcod" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Cod doctor</label>
        <input class="form-control" name="doctornum" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Apellido</label>
        <input class="form-control" name="apellido" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Especialidad</label>
        <input name="especialidad" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Salario</label>
        <input name="salario" class="form-control">
    </div>
    <button class="btn btn-outline-primary">Insertar doctor</button>
</form>

